{% extends 'base.html' %}
{% load static %}
{% block content %}


    </header>
    <!-- Header Area wrapper End -->

    {% include 'section/hero.html' %}

    {% include 'section/services.html' %}
    
    {% include 'section/about.html' %}

    {% include 'section/features.html' %}

    {% include 'section/team.html' %}

    {% include 'section/pricing.html' %}
  
    {% include 'section/testemonial.html' %}

    {% include 'section/call_to_action.html' %}

    {% include 'section/contact.html' %}

    {% include 'section/footer.html' %}

    {% endblock content %}
